<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>PTCG-DECKS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>

<main>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PTCG-DECKS</a>

                <div class="collapse navbar-collapse" id="ptcg-deck-navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">CARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">DECK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">IMPORT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div>
            <form>
                <div class="mb-3">
                    <label for="deckName" class="form-label">卡组名称</label>
                    <input type="text" class="form-control" id="deckName">
                </div>
                <div class="mb-3">
                    <label for="deckCode" class="form-label">卡组代码</label>
                    <textarea class="form-control" id="deckCode" rows="20"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="submitEnglish">导入英文</button>
                <button type="submit" class="btn btn-primary" id="submitChinese">导入简中</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#submitEnglish").click(function(e) {
                e.preventDefault();

                const deckName = $("#deckName").val();
                const deckCode = $("#deckCode").val();

                const data = {
                    deckName: deckName,
                    deckCode: deckCode
                };

                $.ajax({
                    url: "/deck/import", // 替换为你的API接口地址
                    method: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function(response) {
                        console.log("成功提交: ", response);
                    },
                    error: function(error) {
                        console.error("提交失败: ", error);
                    }
                });
            });
            $("#submitChinese").click(function(e) {
                e.preventDefault();

                const deckName = $("#deckName").val();
                const deckCode = $("#deckCode").val();

                const data = {
                    deckName: deckName,
                    deckCode: deckCode
                };

                $.ajax({
                    url: "/deck/chineseimport", // 替换为你的API接口地址
                    method: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function(response) {
                        console.log("成功提交: ", response);
                    },
                    error: function(error) {
                        console.error("提交失败: ", error);
                    }
                });
            });
        });
    </script>
</main>

</body>
</html>